<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id          = "biz-food.app"
        versionCode = "10"
        version     = "1.1.0">

    <name>ТЕСТ. biz-food.com</name>

    <description>
        Андроид приложение компании BIZ-FOOD.
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="28" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#34D252" />
    
    <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
      </edit-config>
    </platform>


    <platform name="android">
        <icon src="res/android/icon/fb0395556daadd0d54d9bf67be8f1a74.png" density="ldpi" />
        <icon src="res/android/icon/d365a4ab56a350e05073ae870642bccd.png" density="mdpi" />
        <icon src="res/android/icon/48c9052c9acff78c23c0d4720bf5f7ed.png" density="hdpi" />
        <icon src="res/android/icon/3452fd35f36da858c7b9f94e66752b51.png" density="xhdpi" />
        <icon src="res/android/icon/3214e24ff4638204ea51269a99f1fb15.png" density="xxhdpi" />
        <icon src="res/android/icon/77c0dfc560e4f0930e4e48d956093fd0.png" density="xxxhdpi" />

        <splash src="res/android/screen/513426c30c7232cbe492ebbbf6a9faed.png" density="port-hdpi"/>
        <splash src="res/android/screen/80593811372bdd85281084fcc003bc58.png" density="port-ldpi"/>
        <splash src="res/android/screen/9eae931b61dedb07303d7948aa70dbac.png" density="port-mdpi"/>
        <splash src="res/android/screen/506b0ff6bc099a3083e2436974aa0714.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/334f41f00883a2198a92c6baa4f041d6.png" width="180" height="180" />
        <icon src="res/ios/icon/a73d6dbc0921e1dbabae3fc3d03b0dd2.png" width="60" height="60" />
        <icon src="res/ios/icon/00df014091e539f57667000ae42ff7e6.png" width="120" height="120" />
        <icon src="res/ios/icon/cf669bf64c1790caa6eb1fc6bbe3c19c.png" width="76" height="76" />
        <icon src="res/ios/icon/78406303e5831d04131c97766c60e991.png" width="152" height="152" />
        <icon src="res/ios/icon/b6668fa5cadf0e939781b874d7f065e8.png" width="57" height="57" />
        <icon src="res/ios/icon/28ea27c7e597a9ce2276291be4769c10.png" width="114" height="114" />
        <icon src="res/ios/icon/32a16364ff705f7ce370e2b1e69fe620.png" width="72" height="72" />
        <icon src="res/ios/icon/e2f20d02fe9e490d0d835caa89bd4158.png" width="144" height="144" />
        <icon src="res/ios/icon/c8ffb9804820547feff1726876c27bc8.png" width="167" height="167" />
        <icon src="res/ios/icon/0e983d6ec90a405d1ed360f2f66e4957.png" width="29" height="29" />
        <icon src="res/ios/icon/09cb8f7cd858028509c0b5694d288278.png" width="58" height="58" />
        <icon src="res/ios/icon/a5c0d2feceb442998dde3c08ffcb5fab.png" width="87" height="87" />
        <icon src="res/ios/icon/bfee3a3ddbcf4e3a462ea9864df5b172.png" width="167" height="167" />

        <splash src="res/ios/screen/b867dc8e769f4131fc0d93282b0642dc.png" />
        <splash src="res/ios/screen/ece07c9041c424c78668a63eb9962c15.png" />
        <splash src="res/ios/screen/ea8a469acddf843565ba7487cec17189.png" />
        <splash src="res/ios/screen/2de797b99f9b9b3ff9222f19af2691ad.png" />
        <splash src="res/ios/screen/4a7232bc97bdc61501012f6cd8308e9d.png" />
        <splash src="res/ios/screen/80b612d0dddcf67f406193f62cc1a985.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/4e5931ca1ee02a02599a491dbb198f51.png" target="StoreLogo" />
        <icon src="res/windows/icon/751982f42bfc49ff959434825779e42b.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/61563f1ef4b448c056f8c19199efc9ec.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/14c846593d239ef794a7750c37c3c5a2.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/71958c5cbf9e0dd368aae2f54f8c0fde.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/e144544a7981e1cea70e77e16e9ca116.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/c4df38cacf6f04e16ea636bfa5056de7.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/6f84be99c98562d4bd192e5e57e97c41.png" target="SplashScreen"/>
        <splash src="res/windows/screen/b7562cfb2fdeb9e4889d041615fce223.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>